@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

.logo{
    width: 15rem;
    height: 13rem;
    margin-top: 2rem;
}

button{
    position: absolute;
    width: 14rem;
    height: 4rem;
    margin-left: 22rem;
    margin-top: 3.5rem;
    
    background: transparent;
    border: solid transparent;
    border-radius: 1rem;

    .gh-icon {
        height: 2em;
        margin-right: 0.6em;
        transition: fill 200ms;
    }

    &:hover {
        background:rgba(0, 0, 0, 0.1);
       
    }
}

.message{
  width: 21rem;

 font-family: 'Inter';
 font-style: normal;
 font-weight: 400;
 font-size: 1.1rem;
 line-height: 1.3em;

}

.nieuws{
 width: 14rem;
 margin-top: 2em;
 margin-bottom: 0.5em;

 font-family: 'Inter';
 font-style: normal;
 font-weight: 800;
 font-size: 1.9em;
 line-height: 2em;
}


.links{
 width: 30.5em;

 a{
     text-decoration: none; 
     color: black;
     font-family: 'Inter';
     font-style: normal;
     font-weight: 400;
     font-size: 1em;
     line-height: 1.5em;
 }
}
