@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

.container{
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;
}


.logo{ 
    width: 100%;
    margin-top: 3rem;
    max-width: 50em;
}

.gh-btn{
    display: inline-block;
    border-radius: 1rem;
    padding: 1em 1.5em;
    color: black;
    text-decoration: none;

    .gh-icon {
        height: 2em;
        margin-right: 0.6em;

    }

    &:hover {
       background:rgba(0, 0, 0, 0.1);
       
    }
}



p{
    width: 19em;

    margin-top: 0;
    margin-bottom: 1rem;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.3em;
}


.title{
    

 font-family: 'Inter';
 font-style: normal;
 font-weight: 800;
 font-size: 1.9em;
 line-height: 2em;
}


.links{
 width: 30.5em;

 a{
     text-decoration: none; 
     color: black;
     font-family: 'Inter';
     font-style: normal;
     font-weight: 400;
     font-size: 1em;
     line-height: 1.5em;
 }
}


