@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-size: 24px;

    color: #101010;

    @media(max-width: 768px) {
        font-size: 16px;
    }
}

h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5em;
}

a {
    transition: all 300ms ease-in-out;
    color: #007fc7;
    text-decoration: underline solid currentColor;

    &:hover {
        color: #00588B;
        text-decoration: underline solid currentColor;
    }
}

header {
    padding-top: 6em;
    z-index: 5;
    // position: sticky;
    top: 0;
}

.logo {
    width: 100%;
    max-width: 320px;
}

.gh-btn {
    display: inline-block;
    border-radius: 15px;
    padding: 1em 1.5em;
    transition: background 300ms;

    color: #101010;
    text-decoration: none;

    &__icon {
        height: 1.5em;
        margin-right: 0.6em;
    }

    span {
        vertical-align: middle;
    }

    &:hover {
        background: rgba(0, 0, 0, 0.1);
        text-decoration: none;
        color: #101010;
    }
}

.news {
    &__links {
        margin: 0;
        padding: 0;
        list-style: none;

        a {
            color: #101010;
            text-decoration: underline solid transparent;

            &:hover {
                color: #00588B;
                text-decoration: underline solid currentColor;
            }
        }
    }
}